USE [master]
GO
/****** Object:  Database [session4]    Script Date: 4/1/2021 6:04:16 PM ******/
CREATE DATABASE [session4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'session4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\session4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'session4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\session4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_100_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [session4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [session4]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[IATACode] [nvarchar](3) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_AirPort] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerOptions]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerOptions](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CI_AS NOT NULL,
 CONSTRAINT [PK_AnswerOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswersToQuestions]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswersToQuestions](
	[SurveyId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerOptionId] [int] NOT NULL,
 CONSTRAINT [PK_AnswersToQuestions_1] PRIMARY KEY CLUSTERED 
(
	[SurveyId] ASC,
	[QuestionId] ASC,
	[AnswerOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CabinTypes]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CabinTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_ClassType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Code] [nvarchar](1) COLLATE Cyrillic_General_100_CI_AS NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CI_AS NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) COLLATE Cyrillic_General_100_CI_AS NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 4/1/2021 6:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartureId] [int] NULL,
	[ArrivalId] [int] NULL,
	[Age] [int] NULL,
	[CabinTypeId] [int] NULL,
	[GenderCode] [nvarchar](1) COLLATE Cyrillic_General_100_CI_AS NULL,
 CONSTRAINT [PK_Surveys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Airports] ON 

INSERT [dbo].[Airports] ([Id], [CountryId], [IATACode], [Name]) VALUES (2, 185, N'AUH', N'Abu Dhabi')
INSERT [dbo].[Airports] ([Id], [CountryId], [IATACode], [Name]) VALUES (3, 52, N'CAI', N'Cairo')
INSERT [dbo].[Airports] ([Id], [CountryId], [IATACode], [Name]) VALUES (4, 13, N'BAH', N'Bahrain')
SET IDENTITY_INSERT [dbo].[Airports] OFF
INSERT [dbo].[AnswerOptions] ([Id], [Name]) VALUES (0, N'No Answer')
INSERT [dbo].[AnswerOptions] ([Id], [Name]) VALUES (1, N'Outstanding')
INSERT [dbo].[AnswerOptions] ([Id], [Name]) VALUES (2, N'Very Good')
SET IDENTITY_INSERT [dbo].[CabinTypes] ON 

INSERT [dbo].[CabinTypes] ([Id], [Name]) VALUES (1, N'Economy')
INSERT [dbo].[CabinTypes] ([Id], [Name]) VALUES (2, N'Business')
INSERT [dbo].[CabinTypes] ([Id], [Name]) VALUES (3, N'First')
SET IDENTITY_INSERT [dbo].[CabinTypes] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([Id], [Name]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([Id], [Name]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
INSERT [dbo].[Genders] ([Code], [Name]) VALUES (N'F', N'Female')
INSERT [dbo].[Genders] ([Code], [Name]) VALUES (N'M', N'Male')
INSERT [dbo].[Questions] ([Id], [Name]) VALUES (1, N'Please rate our aircraft flown on AMONIC Airlines')
INSERT [dbo].[Questions] ([Id], [Name]) VALUES (2, N'How would you rate our flight attendants')
INSERT [dbo].[Questions] ([Id], [Name]) VALUES (3, N'How would you rate our inflight entertainment')
SET IDENTITY_INSERT [dbo].[Surveys] ON 

INSERT [dbo].[Surveys] ([Id], [DepartureId], [ArrivalId], [Age], [CabinTypeId], [GenderCode]) VALUES (1, 2, 4, 37, 1, N'M')
INSERT [dbo].[Surveys] ([Id], [DepartureId], [ArrivalId], [Age], [CabinTypeId], [GenderCode]) VALUES (2, 2, 3, 29, 1, N'M')
INSERT [dbo].[Surveys] ([Id], [DepartureId], [ArrivalId], [Age], [CabinTypeId], [GenderCode]) VALUES (3, 2, 7, 26, 1, N'M')
GO
SET IDENTITY_INSERT [dbo].[Surveys] OFF
ALTER TABLE [dbo].[Airports]  WITH CHECK ADD  CONSTRAINT [FK_Airports_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Airports] CHECK CONSTRAINT [FK_Airports_Countries]
GO
ALTER TABLE [dbo].[AnswersToQuestions]  WITH CHECK ADD  CONSTRAINT [FK_AnswersToQuestions_AnswerOptions] FOREIGN KEY([AnswerOptionId])
REFERENCES [dbo].[AnswerOptions] ([Id])
GO
ALTER TABLE [dbo].[AnswersToQuestions] CHECK CONSTRAINT [FK_AnswersToQuestions_AnswerOptions]
GO
ALTER TABLE [dbo].[AnswersToQuestions]  WITH CHECK ADD  CONSTRAINT [FK_AnswersToQuestions_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[AnswersToQuestions] CHECK CONSTRAINT [FK_AnswersToQuestions_Questions]
GO
ALTER TABLE [dbo].[AnswersToQuestions]  WITH CHECK ADD  CONSTRAINT [FK_AnswersToQuestions_Surveys] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[Surveys] ([Id])
GO
ALTER TABLE [dbo].[AnswersToQuestions] CHECK CONSTRAINT [FK_AnswersToQuestions_Surveys]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Airports] FOREIGN KEY([DepartureId])
REFERENCES [dbo].[Airports] ([Id])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Airports]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Airports1] FOREIGN KEY([ArrivalId])
REFERENCES [dbo].[Airports] ([Id])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Airports1]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_CabinTypes] FOREIGN KEY([CabinTypeId])
REFERENCES [dbo].[CabinTypes] ([Id])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_CabinTypes]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Genders] FOREIGN KEY([GenderCode])
REFERENCES [dbo].[Genders] ([Code])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Genders]
GO
USE [master]
GO
